// colors

$accentRed: #b3272d;
$white: #fff;
$black: #000;
$grey: #b5b3b3;

// fonts

$font1: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font2: "Poppins", sans-serif;

// transitions

$tran1: all 1s ease-in-out;
$tran2: all 0.3s ease-in-out;
$tran3: all 0.8s ease-in-out;
$tran4: all 0.5s ease-in-out;
